/* Reset de estilos para el body */
body {
    margin: 0;
    padding: 0;
    }

    /* Estilos generales para los encabezados */
    h1, h2 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #DCE0EA;
    }
    h1{
        color: coral;
        margin-bottom: 20px;
    }

    header{
        background-color: #050507;
        padding: 5px;
    }
    nav{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    nav p{
        color: coral;
        font-size:20px;
        font-weight: bold;
    }
    nav ul li{
        list-style: none;
        margin-right: 20px;
        font-size: 18px;
    }
    nav ul li a{
        text-decoration: none;
        color: #DCE0EA;
    }

     /* Estilos para los elementos de lista */
    li {
        display: inline; /* Cambia a "inline-block" si quieres que tengan un ancho fijo */
        margin-right: 10px; /* Espaciado entre los elementos de lista */
    }

        /* Estilos para la sección de inicio */
    #inicio {
    padding: 50px;
    text-align: center;
    background-color: #1f2233;
    }

    #inicio img {
    width: 150px; /* Cambiar el ancho de la imagen según tu preferencia */
    height: 150px; /* Cambiar la altura de la imagen según tu preferencia */
    border-radius: 50%; /* Opcional: agregar bordes redondeados a la imagen */
    margin-top: 20px;
    margin-bottom: 20px;
    }

    #acerca-de{
        padding: 50px;
        background-color: #1f2233;
    }

    /* Estilos para la sección de habilidades */
    #habilidades {
    padding: 50px;
    background-color: #1f2233;
    }

    /* Estilos para la lista de habilidades */
    #habilidades ul {
    list-style-type: none;
    }

    /* Estilos para la sección de proyectos */
    #proyectos {
    padding: 50px;
    background-color: #1f2233;
    }

    /* Estilos para la lista de proyectos */
    #proyectos ul {
    list-style-type: none;
    }

    /* Estilos para la sección de contacto */
    #contacto {
    padding: 50px;
    background-color: #1f2233;
    }

    /* Estilos para la lista de contacto */
    #contacto ul {
    list-style-type: none;
    }

    /* Estilos generales para los párrafos y listas */
    p, ul {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #DCE0EA;
    }

    /* Estilos para la sección de footer*/
    footer{
        background-color: black;
        padding: 20px;
        text-align: center;
        font-size: 12px;
    }